.header {
  // .header__menu

  &__menu {
  }
}
.menu {
  // .menu__list
  &__list {
    // line-height: 100%;
    @include flexbox();
    align-items: center;
  }
  // .menu__link
  &__link {
    padding: 0 10px;
    color: $color-gray;
    border-bottom: 2px solid transparent;
    height: 56px;
    line-height: 56px;
    display: block;
    font-weight: 700;
    @include anim(0.3s, 0s);
    &._active,
    &:hover {
      background-color: #ddf2fd;
      border-color: #0087ff;
    }
  }
}
/* ==================================================================================================================*/

.header {
  // .header__actions
  &__actions {
    @include flexbox();
    align-items: center;
  }
  // .header__search
  &__search {
  }
  // .header__add
  &__add {
    width: 24px;
    height: 24px;
    img {
      width: 100%;
    }
    margin: 0 22px 0 10px;
  }
  // .header__lightblub
  &__lightblub {
    width: 24px;
    height: 24px;
    img {
      width: 100%;
    }
    margin-right: 15px;
  }
  // .header__avatar
  &__avatar {
    width: 24px;
    height: 24px;
    img {
      width: 100%;
    }
    margin-right: 18px;
  }
}
.input-search-big {
}
.menu__item_breadcrumb {
  .menu__link {
    color: #164863;
    @include anim(0s, 0s);
    &:hover {
      background-color: inherit;
      color: inherit;
      border: none;
      @include anim(0s, 0s);
    }
  }
}
.menu__item_breadcrumb_1 {
  position: relative;
  &::before {
    content: '>';
    position: absolute;
    top: 49%;
    @include tr(0, -50%, 0);
    left: -4px;
    color: #164863;
    font-size: 16px;
    font-weight: 600;
  }
}
