$spacing-3: 0.75rem; // 12px
$spacing-12: 3rem; // 48px
$color-white: #ffffff;
$color-gray-200: #edf2f7;
$shadow-xl:
  0 10px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.1);
$border-radius-main: 0.5rem;
$transition-duration-200: 200ms;
$left-60px: -60px;

.drawer-control {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-gray-200;
  background-color: $color-white;
  position: absolute;
  top: $spacing-3;
  left: $left-60px;
  border-radius: $border-radius-main;
  box-shadow: $shadow-xl;
  overflow: hidden;
  // .drawer-control__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $spacing-12;
    height: $spacing-12;
    transition-duration: $transition-duration-200;
    cursor: pointer;
    &:hover {
      background-color: $color-gray-200;
    }

    // .drawer-control__item_close
    &_close {
    }
    // .drawer-control__item_size
    &_size {
    }
    // .drawer-control__item_up-arrow
    &_up-arrow {
    }
    // .drawer-control__item_down-arrow

    &_down-arrow {
    }
  }
}

/* ==================================================================================================================*/
// Define variables
$height-header: 64px;
$hover-background-color-icon: #eaeaea;
$border-color: #d1d5db;
$border-radius: 0.375rem;
$font-semibold: 600;
$transition-duration: 200ms;

// Header styles
.drawer-header {
  height: $height-header;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $border-color;
  padding: 0 17px 0 12px;

  // .drawer-header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // .drawer-header__left

    &__left {
    }
    // .drawer-header__right
    &__right {
    }
    // .drawer-header__actions

    &__actions {
    }
  }

  // .drawer-header__id
  &__id {
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    &.id_1 {
      color: $color2;
    }
    &.id_2 {
      color: #e52e2e;
    }
  }
  // .drawer-header__username
  &__username {
    font-weight: 700;
    font-size: 15px;
    color: $color1;
    margin-left: 20px;
  }

  &__more {
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    background: #ffffff;
    @include flexbox();
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 32px;
    cursor: pointer;
    margin-left: 10px;
    img {
      width: 14px;
    }
  }

  &__btnitem {
    margin-left: 20px;
    &.__avatar {
      @include flexbox();
      align-items: center;
      justify-content: center;
      .user-name {
        color: $color1;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  &__actions {
    @include flexbox();
    align-items: center;
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: $transition-duration;
    // .control__item
    &__item {
      margin-left: 5px;
      width: 30px;
      height: 30px;
      background-color: transparent;
      padding: 5px;
      @include flexbox();
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      &:first-child {
        margin-left: 0;
      }
      img {
        width: 20px;
        height: auto;
      }
      &:hover {
        background-color: $hover-background-color-icon;
      }
      // .control__item_close
      &_close {
        margin-right: 10px;
        img {
          width: 17px;
        }
      }
      // .control__item_up-arrow
      &_up-arrow {
      }
      // .control__item_down-arrow
      &_down-arrow {
      }
      // .control__item_size
      &_size {
        img {
          width: 21px;
        }
      }
    }
  }
}
/* ==================================================================================================================*/
