:where(.css-dev-only-do-not-override-1qfezbu).ant-drawer .ant-drawer-mask {
  inset: initial;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-drawer-right
  > .ant-drawer-content-wrapper {
  margin-top: 57px;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-drawer .ant-drawer-header {
  padding: 0;
  height: 64px;
  border: none;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-drawer .ant-drawer-body {
  padding: 0;
}
:where(.css-dev-only-do-not-override-1qfezbu).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  display: none;
}

:where(.css-dev-only-do-not-override-1qfezbu).ant-picker{
  width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 14px;
    background-color: transparent;
    color: #21232c;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #d1d1d1 !important;
    padding: 3px 5px;
    background: #fff;
}