.btn {
  display: table;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &--primary {
    display: flex;
    height: 25px;
    padding: 3px 10px 3px 7px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: $color2;
    border-radius: 4px;
    img {
      width: 9px;
      height: 17px;
    }
    span {
      color: $color3;
      font-size: 16px;
      line-height: normal;
      font-weight: 600;
    }
  }
  &:hover {
  }
  &--white {
  }
}

.btn--icon {
  background: none;
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
  transition: all 0.2s;

  &:hover {
    background-color: $color-gray;
  }

  & svg {
    width: 2.2rem;
    height: 2.2rem;
    color: $color-secondary;
  }
}
