// Obnulenie, -Obshie parametr

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: $color1;
  background: #fff;
  overflow-x: hidden;
  transition:
    color 0.3s,
    background-color 0.3s;

  ::-webkit-scrollbar {
    width: none; /* Set a small width to hide the thumb */
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the thumb color to transparent */
  }

  /* Optional: You can also hide the track if you want */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Set the track color to transparent */
  }
}
body {
  font-size: 16px;
  font-family: $fontfamily;
  font-weight: 500;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  &._lock {
    overflow: hidden;
  }
}

/* =====================================  GLOBAL CLASSES =============================================================================*/

.main_title {
}
.common_title {
}
.main_text {
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.ml-20 {
  margin-left: 20px;
}
.-ml-15 {
  margin-left: -15px;
}
.-ml-20 {
  margin-left: -20px;
}
.-ml-25 {
  margin-left: -25px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.pl-5 {
  padding-left: 5px !important;
}
.pr-5 {
  padding-right: 5px;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.cursor-inherit {
  cursor: initial;
}
.w-100 {
  width: 100%;
}
.min-w-auto {
  min-width: auto !important;
}
.min-w-30 {
  min-width: 30% !important;
}
.w-20 {
  width: 20px !important;
}
.w-30 {
  width: 30px !important;
}
