// Obnulenie, -Obshie parametr

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  color: $color1;
  background: #fff;
  overflow-x: hidden;
  transition:
    color 0.3s,
    background-color 0.3s;

  ::-webkit-scrollbar {
    width: none; /* Set a small width to hide the thumb */
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set the thumb color to transparent */
  }

  /* Optional: You can also hide the track if you want */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Set the track color to transparent */
  }
}
body {
  font-size: 16px;
  font-family: $fontfamily;
  font-weight: 500;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  &._lock {
    overflow: hidden;
  }
}

/* =====================================  GLOBAL CLASSES =============================================================================*/

.main_title {
}
.common_title {
}
.main_text {
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}
